.Container {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.Header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  min-width: 400px;
  border-bottom: solid ccc 1px;
}

.Header .Text {
  color: #999;
}

.FileList {
  margin: 0;
  padding: 0px;
  min-width: 350px;
}

.FileListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.FileListItem:not(:last-of-type) {
  margin-bottom: 5px;
  border-bottom: solid #ccc 1px;
}

.FileNameSizeWrapper {
  flex-grow: 1;
  margin: 0 20px;
}

.FileSize {
  font-size: 0.75em;
  color: #999;
}
